body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f3f4f6;
}

/* .navbar {
  width: 100%;
  background: #4a90e2;
  padding: 1rem 2rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
} */
.navbar a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  gap: 8px;
}

.navbar img {
  width: 34px;
  height: 24px;
}

.container {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

h2 {
  margin-bottom: 1.5rem;
}

label,
select,
input,
button {
  margin: 0.5rem 0;
}

select,
input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 0.7rem 1.5rem;
  border: none;
  background-color: #4caf50;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

button:hover {
  background-color: #45a049;
}

#result {
  margin-top: 1rem;
  font-weight: bold;
}
.navbar {
  width: 98%;
  position: absolute;
  top: 0;
  left: 0;
  background: #4a90e2;
  padding: 15px;
  display: flex;
  justify-content: flex-start;
}

/* Back Button */
.back-button {
  background: #2867f0;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
  height: 40px;
}

.back-button:hover {
  background: #0190f6;
  transform: scale(1.05);
}
.toggle-btn {
  position: fixed;
  top: 0;
  right: 20px;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 1000;

  /* Centering the icon */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Toggle theme style */
#toggleTheme {
  background: transparent;
  box-shadow: none;
  position: absolute;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Click animation (subtle scaling effect) */
#toggleTheme:active {
  transform: scale(0.9);
  opacity: 0.7;
}

/* Dark mode effect */
.dark-mode #toggleTheme {
  background: transparent;
  box-shadow: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Click animation in dark mode */
.dark-mode #toggleTheme:active {
  transform: scale(0.9);
  opacity: 0.7;
}

.toggle-btn:hover {
  background: #0056b3;
}
body.dark-mode {
  background: #121212;
}
.dark-mode .navbar {
  background: #3e3e3e;
}
.dark-mode .container {
  background: #3e3e3e;
  color: #fff;
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.3);
}

.container:hover{
  transform: scale(1.02);
  box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.4);
}