body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f3f4f6;
}

.navbar {
    width: 100%;
    background: #4A90E2;
    padding: 1rem 2rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
}
.navbar a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    gap: 8px;
}

.navbar img {
    width: 34px;
    height: 24px;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    margin-bottom: 1.5rem;
}

label,
select,
input,
button {
    margin: 0.5rem 0;
}

select,
input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    padding: 0.7rem 1.5rem;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 1rem;
    font-weight: bold;
}