@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background: linear-gradient(to right, #2f9cfa, #00f2fe);
    display: flex;
    align-items: center;
    justify-content: center;
}

.bubble-container {
    max-width: 900px;
    margin: 5rem auto;
    background: rgba(255, 255, 255, 0.763);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

h2 {
    color: #333;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

.bars-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 280px;
    margin: 20px auto;
    gap: 6px;
    padding: 15px;
    border-radius: 10px;
    background: #f0f8ff;
}

.bar {
    width: 35px;
    background: #5100ff;
    border-radius: 5px;
    transition: height 0.3s, background-color 0.3s;
    box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.bubble-container button {
    padding: 12px 20px;
    margin: 10px;
    border: none;
    font-size: 16px;
    background: linear-gradient(to right, #2f9cfa, #00f2fe);
    color: #333;
    cursor: pointer;
    border-radius: 6px;
    transition: background 0.3s, transform 0.2s;
    font-weight: 600;
}

.bubble-container button:hover {
    background: linear-gradient(to left, #2f9cfa, #00f2fe);
    transform: scale(1.05);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}