body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f4f4f4;
  transition: all 0.3s ease-in-out;
}

.overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  /* z-index: 1 */
  background: white;
  height: 200px;
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  animation: fadeIn 0.5s ease-in-out;
}

h1 {
  font-size: 20px;
  color: #333;
  margin: 10px 0;
}

.dark-mode h1 {
  color: white;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  width: 30px; /* Set fixed width */
  height: 30px; /* Set fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-btn:hover {
  background: darkred;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 400px) {
  .card {
    width: 90%;
  }
}
