@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 20px;
} */

body {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    text-align: center;
    background-color: #ffebcd;
}

.container {
    margin-top: 50px;
}

h1 {
    font-size: 36px;
    color: #d35400;
}

p {
    font-size: 24px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.hole {
    width: 100px;
    height: 100px;
    background-color: #8b4513;
    border-radius: 50%;
    position: relative;
}

.mole {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: none;
    transition: 0.3s ease-in-out;
}

.show {
    display: block;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #d35400;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #e67e22;
}
